*.d
*.o
*.a
*.so
*.dep
*.dwo

lib
bin
include
tags

*_asan
sample/audio/sample_audio
sample/audio/sample_audio_aec
sample/audio/sample_audio_nr
sample/audio/sample_audio_resample
sample/audio/sample_audio_transcode
sample/audio/sample_audio_rtos
sample/cipher/sample_cipher
sample/cvg/sample_cvg
sample/mipi_tx/sample_dsi
sample/fisheye/sample_fisheye
sample/overlay/sample_overlay
sample/region/sample_region
sample/venc/sample_vcodec
sample/vdec/sample_vdec
sample/venc/sample_venc
sample/vio/sample_vio
sample/vdecvo/sample_vdecvo
sample/multivenc/sample_multivenc
sample/ir_auto/ir_auto
sample/osdc/sample_osdc
sample/scene_auto/sample_scene_auto
sample/sensor_test/sensor_test
sample/vpss/sample_vpss
sample/drm/modetest
sample/drm/sample_drm_atomic_crtc
sample/drm/sample_drm_atomic_plane
sample/drm/sample_drm_double_buffer
sample/drm/sample_drm_dsi_and_hdmi
sample/drm/sample_drm_page_flip
sample/drm/sample_drm_plane_test
sample/drm/sample_drm_single_buffer
sample/drm/sample_drm_gamma_test
sample/dpu/sample_dpu
sample/cvi_tde/sample_tde
sample/hdmi/sample_hdmi
sample/sample_panel/sample_panel

self_test/cvi_test/cvi_test
self_test/cvi_test/res
self_test/tpu/sample_tpu
self_test/vip_fpga/vip_fpga
self_test/vi_ut/vi_ut
self_test/vpss_ut/vpss_ut
self_test/vpss_ut/vpss_ut_client
self_test/vo_ut/vo_ut
self_test/rgn_ut/rgn_ut
self_test/dwa_ut/dwa_ut
self_test/vb_ut/vb_ut
self_test/sys_ut/sys_ut
self_test/stitch_ut/stitch_ut
self_test/dpu_ut/dpu_ut
self_test/fast_image_ut/fast_image_ut
self_test/audio/aud_auto_test_sample/cvi_auto_play
self_test/audio/aud_auto_test_sample/cvi_auto_record
self_test/audio/aud_auto_test_sample/cvi_auto_special
self_test/audio/audio_aec/sample_audio_aec
self_test/audio/audio_anr/sample_audio_nr
self_test/audio/audio_pcm/sample_audio_internal
self_test/audio/audio_resample/sample_audio_resample
self_test/audio/audio_transcode/sample_audio_transcode
self_test/jpeg/jpg_dec_test
self_test/jpeg/jpg_enc_test
self_test/ldc_ut/ldc_ut
self_test/vc_test/cvi_h264_enc_test
self_test/vc_test/cvi_h265_enc_test
self_test/vc_test/cvi_jpg_codec
self_test/vc_test/cvi_api_test
self_test/vc_test/cvi_jpg_dec
self_test/vc_test/cvi_jpg_enc
self_test/vc_wave_test/release/
self_test/vc_test/multi_pro_chns_dec
self_test/vc_test/multi_pro_chns_enc
self_test/vc_test/multi_pro_dec_test
self_test/vc_test/multi_pro_enc_test
self_test/vi_ut/vi_ut_client
self_test/hdmi_ut/hdmi_ut
self_test/tde_ut/tde_ut
self_test/ispv4l2_ut/ispv4l2_ut

modules/venc/vc/jpeg/driver/bm_jpg_test
modules/venc/vc/jpeg/driver/bmjpuapi/bmjpegdec
modules/venc/vc/jpeg/driver/bmjpuapi/bmjpegenc
modules/venc/vc/vcodec/codebase/cvi_h265_enc_test
modules/venc/vc/vcodec/codebase/cvi_h264_dec
modules/venc/vc/vcodec/codebase/cvi_h265_dec
modules/venc/vc/jpeg/driver/cvi_jpg_codec

modules/venc/vc/vcodec/codebase/sample/cvi_vcodec_version.h
modules/venc/vc/jpeg/driver/include/version.h

tool/framedump/vi_pipe_dump
tool/framedump/vi_chn_dump
tool/framedump/vpss_chn_dump
.vscode/settings.json

modules/isp

